.box{

    border: 2px solid black;
    width: 500px;
    margin: auto;
    padding-top: 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: bisque;

}

.box img{

    width:100px;
    position: relative;
    left: 200px;
    border: 2px solid black;
    border-radius: 50px;
    object-fit: cover;
    
    
}

h1{

    text-align: center;
    margin-top: 0px;
    font-style: italic;
    
}

  hr{

    background-color: red;

}


/*   div 2 css  */
.box2{

    position: absolute;
    border: 2px solid black;
    width: 500px;
    margin: auto;
    padding-top: 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: bisque;
    padding-left: 20px;

}

.box2 img{

    width:100px;
    position: relative;
    left: 200px;
    border: 2px solid black;
    border-radius: 50px;
    object-fit: cover;
    
    
}
